---
- name: Install Zsh and dependencies
  become: true
  apt:
    name:
      - zsh
      - autojump
      - fzf
      - curl
    state: present
    update_cache: yes

- name: Set Zsh as default shell
  become: true
  user:
    name: "{{ ansible_env.USER }}"
    shell: /usr/bin/zsh

- name: Check if Oh My Zsh is installed
  stat:
    path: "{{ ansible_env.HOME }}/.oh-my-zsh"
  register: ohmyzsh_installed

- name: Install Oh My Zsh
  shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  when: not ohmyzsh_installed.stat.exists

- name: Install Powerlevel10k
  git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/themes/powerlevel10k"
    update: no

- name: Install zsh plugins
  git:
    repo: "{{ item.repo }}"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
    update: no
  loop:
    - { name: "zsh-autosuggestions", repo: "https://github.com/zsh-users/zsh-autosuggestions" }
    - { name: "fzf-tab", repo: "https://github.com/Aloxaf/fzf-tab" }
    - { name: "autojump", repo: "https://github.com/wting/autojump" }
    - { name: "git-open", repo: "https://github.com/paulirish/git-open" }

- name: Copy user .zshrc
  copy:
    src: .zshrc
    dest: "{{ ansible_env.HOME }}/.zshrc"
    mode: '0644'

- name: Copy Powerlevel10k configuration
  copy:
    src: .p10k.zsh
    dest: "{{ ansible_env.HOME }}/.p10k.zsh"
    mode: '0644'
...