---
- name: Install common packages
  become: yes
  apt:
    name:
      - git
      - curl
      - wget
      - unzip
      - fzf
      - fonts-powerline
    state: present
    update_cache: yes

# ------------------------------
# SSH key generation if not exists
# ------------------------------
- name: Ensure SSH directory exists
  file:
    path: "{{ ansible_env.HOME }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"

- name: Generate SSH key if not present
  openssh_keypair:
    path: "{{ ansible_env.HOME }}/.ssh/id_rsa"
    type: rsa
    size: 4096
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
    mode: '0600'
  when: not lookup('file', ansible_env.HOME + '/.ssh/id_rsa', errors='ignore')
