---
- name: Install dependencies for kubectl
  become: true
  apt:
    name:
      - ca-certificates
      - gnupg
    state: present
    update_cache: yes

- name: Add Kubernetes GPG key
  become: true
  ansible.builtin.apt_key:
    url: https://pkgs.k8s.io/core:/stable:/v1.31/deb/Release.key
    keyring: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    state: present

- name: Add Kubernetes APT repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.31/deb/ /"
    state: present
    filename: kubernetes

- name: Install kubectl
  become: true
  apt:
    name: kubectl
    state: present
...